<footer>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col col-lg-4">
        <dl>
          <dt>Email</dt>
          <dd>sales@thesparesshop.co.uk</dd>

          <dt>Working days/hours</dt>
          <dd>Mon–Fri / 9:00AM–4:00PM</dd>
        </dl>
      </div>
      <div class="col col-lg-4">
        {% include social.html %}
      </div>
    </div>
    <div class="row justify-content-center">
      <p class="copyright">Copyright &copy; {{ 'now' | date: "%Y" }} {{ site.name }}</p>
    </div>
  </div>
</footer>
