// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

$tss-blue: #0088cc;
$tss-orange: #f17734;

#mainNav {
    position: static;
    width: 100%;
    background-color: $tss-blue;
    border-bottom: 0;

    .navbar-toggler {
        color: white;
    }

    // specificity to match bootstrap...
    .navbar-nav > li.nav-item > a:link {
        color: white;
    }

    .navbar-nav > li.nav-item > a:hover {
        color: $tss-orange;
    }
}

.navbar-brand {
    background: url('/img/logo.png') no-repeat;
    background-size: contain;
    width: 330px;
    height: 85px;
    margin-top: 0.5rem;

    .navbar-name {
        @extend .sr-only;
    }
}

@media (max-width: 460px) {
    #mainNav {
        padding: 0 1rem;
    }

    .navbar-brand {
        width: 220px;
        height: 57px;
        padding: 0;
        margin-top: 10px;
    }
}

.masthead {
    height: 35vw;

    .page-heading {
        padding: 0 !important;

        h1 {
            font-weight: normal;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.bg-fade {
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.3);
}

.hero {
    height: 500px;
    background: url('/img/home-delivery.jpg');
    background-size: cover;
    color: white;

    h1 {
        font-weight: normal;
        font-size: 5rem;
    }
}

.wpro {
    background: url('/img/wpro.jpg');
    background-size: contain;
    height: 47.35vw;
    color: white;

    h2 {
        text-align: center;
        display: inline-block;
        width: 75%;
        font-size: 3.5vw;
        margin-top: 7vw;
    }

    p {
        width: 20%;
        margin: 3vw 0 0 10%;
        font-size: 1.5vw;
    }
}

.market {
    background-color: $gray-200;
}

.hume-premium {
    box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.6);
    background: url('/img/hume-premium.jpg');
    background-size: contain;
    height: 65.625vw;
    color: white;

    h2 {
        font-size: 7vw;
    }

    p {
        margin: 5vw 5vw 0;
    }
}

@media (max-width: 575.98px) {
    .hero {
        height: 250px;

        h1 {
            font-size: 2.8rem;
        }
    }
}

@media (max-width: 767.98px) {
    .wpro p {
        font-size: 2vw;
        width: 25%;
    }
}

.feature {
    color: white;
    background-color: $gray-600;
    padding: 2rem 0;

    dt {
        margin-bottom: 1rem;
    }

    a:link {
        color: white;
        text-decoration: underline;
    }

    a:hover {
        color: $tss-orange;
    }
}

.gallery-img {
    h2 {
        text-transform: uppercase;
        font-weight: lighter;
    }

    h2, h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    img {
        width: 100%;
    }
}

#carousel--product {
    margin: 0 auto;
    max-width: 600px;

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    img {
        height: 360px;
        margin: 0 auto;
    }
}

.social a:hover {
    color: #0088cc;
}

footer {
    background-color: #333;
    color: #ddd;
    padding-bottom: 20px;
}

form {
    label {
        display: block;
    }

    input, textarea {
        width: 100%;
    }
}
